update-notifier=false
minimum-release-age=10080
block-exotic-subdeps=true
minimum-release-age-exclude[]=@types/node
minimum-release-age-exclude[]=@types/react
minimum-release-age-exclude[]=@types/react-dom
only-built-dependencies[]=@journeyapps/wa-sqlite
