#chrome_extension_chinese_dictionary {
    position:fixed;
    width:300px;
    height:300px;
    top:10px;
    right:10px;
    background: #eff0f2;
    z-index:999999;
    display:none;
    color:#333;
    font-size:15px;
    border:1px solid #03c75a;
    overflow:hidden;
    font-family: Helvetica,"Malgun Gothic","Apple SD Gothic Neo",AppleGothic,Dotum,Arial,Tahoma;

    .content {
      height: calc(100% - 30px);
    }

    iframe {
      border: none;
      height: 100%;
    }

    &.open {
      display: block;
    }

    .title {
      background:#03c75a;
      height:30px;

      h1 {
        font-size: 15px;
        line-height: 30px;
        padding: 0;
        padding-left: 8px;
        margin: 0;
        color: white;
        letter-spacing: -1px;
        display: block;
        text-align: left;

        span {
          font-size: 12px;
          vertical-align: top;
        }
      }

    }
}
